body {
    background-color:#a81a10;
}

body, html{
    height:100%;
    margin: 0;
}

.sitewrap{
    min-height: 100%;
    margin-bottom: -84px;
}

.sitewrap:after {
  content: "";
  display: block;
}
.footer, .sitewrap:after {
  height: 84px; 
}

header { 
    
    margin:0px;
    text-decoration:none;
    padding-bottom:20px;
    padding-top:20px;
    
}

header li {
font-family: 'Quattrocento Sans', sans-serif;
    font-size:25px;
   color:#000000;
   text-align:center;
    display:inline-block;
    width:32%;
   
}

ul { 
    margin:0px ;
    padding:0px;
}
 
footer {
  
    margin:0px;
    text-decoration:none;
    padding-bottom:20px;
    padding-top:20px;
    
}

footer li {
    display:inline-block;
    width:48%;
    text-align:center;
}

 #moi {

    overflow:hidden;
    border-radius:50%;
    width:150px;
    height:150px;
     margin:auto;
     margin-top:20px;
}

#moi img{
    width:100%;
    height:100%;
}
#conteneur{
 height: 1000px;
 width: 1000px;
 margin: auto;
}
#bloc_1{
 height: 500px;
 width: 500px;
 position: relative;
 float: left;
}
#bloc_2{

    height: 500px;
 width: 500px;
 position: relative;
 float: left;
}
    
h1 {
text-align:center;
font-family: 'Poiret One', cursive;
font-size:28px ;
}

h2 {
    text-align:center;
font-family: 'Poiret One', cursive;
font-size:24px ;
}

h3 {
    font-size:16px;
    font-family: 'Quattrocento Sans', sans-serif;}

p {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}